body {font-family: arial,sams-serief;background-color: rgba(222, 211, 211, 0.758);text-align: center;}
.title { margin-top: 20px;color: blueviolet;}

.container {background-color: #fff;margin: 20px auto;
padding: 15px;
border: 2px solid #ddd;
width: 300px;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(red, green, blue, alpha);}

.inputs,output {margin: 10px 0;}
.text {font-weight: bold;color: #333;}
.input, .reslt {
    display: inline-block;
    margin: 0 10px;
    background-color: #eee;
    border-radius: 4px;
}
.result {
    background-color: #00d1b2; /* verde si es 1*/
    color: white;
}