body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(black,red,tomato);
}

.title {
    margin-top: 20px;
    color: antiquewhite;
}

.container{
    /* colocamos el color de fondo */
    background-color: rgb(233, 147, 35);
    margin: 20px auto;
    padding: 15px;
    border: 2px solid  rgb(37, 37, 53);
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(red, green, blue, alpha);
}
.inputs, .output {
    margin: 10px 0;
}
    .text {
        font-weight:italic small-caps bold 16px/2 cursive;
        color: rgb(8, 44, 44);
    }
        .container {
            /* con esta etiqueta podemos organizar el texto */
            text-align: center;
        }
            .input, .result {
                display: inline-block;
                margin: 0 10px;
                padding: 5px 10px;
                background-color:#110101;
                border-radius: 4px;
            }

            .result { 
                /* por ultimo escogemos el color en la casilla de resultado */
                background-color: rgb(4, 12, 12);
                color: aliceblue;
            }